@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, rgb(64, 64, 62) 0%, rgba(173, 212, 240, 0.832) 50%, rgb(171, 196, 218) 100%);
height: 100vh;
    height: 100%;
    display: grid;
}

main h1 {
    font-family: 'Lobster', cursive;
    color: rgb(172, 20, 15);
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 0;
}

main {
    margin-top: 0;
    color: rgb(71, 9, 9);
    text-align: left;
    padding: 0;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
}

footer.Wumbo {
    color: black;
    background: linear-gradient(rgb(224, 170, 170) 0%, rgb(217, 114, 114) 50%, rgb(234, 111, 111) 100%);
    font-size: 24px;
    position: relative;
    z-index: -1;
}

nav a:hover {
    outline: 2px solid #193C40;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
}
nav a{
    color: #027373;
}

nav {
    border-bottom: 25px linear-gradient(rgb(224, 170, 170) 0%, rgb(217, 114, 114) 50%, rgb(234, 111, 111) 100%);
    background: linear-gradient(rgb(224, 170, 170) 0%, rgb(217, 114, 114) 50%, rgb(234, 111, 111) 100%);
    padding: 16px;
}

.gif-container {
    margin-top: 16px;
}

a {
    text-decoration: none;
}

h3 a:hover {
    outline: 2px solid #193C40;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
}

main h2 {
    color: black;
}

.salmon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

.salmon-1 {
    width: 50%
}
.salmon-1:hover{
    box-shadow: 10px 5px 5px red;
}

.salmon-2 {
    width: 50%
    border: 50px;
}
.salmon-2:hover{
    box-shadow: 10px 5px 5px red;
}.salmon-3 {
    width: 50%
}
.salmon-3:hover{
    box-shadow: 10px 5px 5px red;
}.salmon-4 {
    width: 50%
}
.salmon-4:hover{
    box-shadow: 10px 5px 5px red;
}
footer.Heythere {
    color: black;
    background: linear-gradient(rgb(224, 170, 170) 0%, rgb(217, 114, 114) 50%, rgb(234, 111, 111) 100%);
    font-size: 24px;
    position: relative;
}

.link1 a {
    font-family: 'Lobster', cursive;
    text-decoration: none;
    color: rgb(172, 20, 15);
}
.link2 a {
    font-family: 'Lobster', cursive;
    text-decoration: none;
    color: rgb(172, 20, 15);
}.link3 a {
    font-family: 'Lobster', cursive;
    text-decoration: none;
    color: rgb(172, 20, 15);
}.link4 a {
    font-family: 'Lobster', cursive;
    text-decoration: none;
    color: rgb(172, 20, 15);
}.link5 a {
    font-family: 'Lobster', cursive;
    text-decoration: none;
    color: rgb(172, 20, 15);
}

.food {
    font-family: 'Lobster', cursive;
    color: black;
}

.Ingredient tr:nth-child(even){
    background: lightgrey;
}
